<!DOCTYPE html>
<html>
<head>
	<title>Modify Quiz and Questions</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<a href="{% url "quiz_create" %}"><button class="btn btn-primary">Add New Quiz</button></a>
	<div class="container">
	  <h2></h2>
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Quiz Name</th>
	        <th>Status</th>
	        <th colspan="2">Action</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{% for quiz in object_list %}
			  <tr>
			    <td>{{ quiz.quiz_description }}</td>
			    <td> {{ quiz.isPublished }} </td>
			    <td><a href="{% url "quiz_update" quiz.id %}">Edit</a> | <a href="{% url "question_create" %}">Add Question</a></td>
			  </tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>

</body>
</html>